/*body {
	background-color: red;
}**/

*{
	margin: 0;
	padding: 0;
	box-sizing:0 0 10px 1px rgba(0, 0 ,0, 0.2);
}

div{ 
  width: 70%;
  margin: auto;
  box-shadow:0 0 10px 1px rgba(0, 0 ,0, 0.2);
}

img {
	max-width: 900px;
	height: auto;
	width: 100%;
	display:block;
	margin: auto;
}

p{
	font-size: 20px;
	font-family:Helvetica;
	line-height:1.65; 

}








